.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 2px;
    width: 50vmin; /* Adjust as needed */
    height: 50vmin; /* Adjust as needed */
    margin: 0 auto;
}

.grid-cell {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.centered-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.health-text {
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    width: 100%;
    text-align: center;
    color: red;
    font-size: 3vmin;
    background-color: rgba(255, 255, 255, 0.7); /* Background for readability */
}


@keyframes glowBlue {
    0% { background-color: white;
        box-shadow: 0 0 5px 2px blue; 
    }
    50% { background-color: rgb(1, 244, 232);
        box-shadow: 0 0 10px 5px blue; 
    }
    100% { background-color: white;
        box-shadow: 0 0 5px 2px blue; 
    }
}

.glow-blue {
    animation: glowBlue 1s infinite;
}

@keyframes glowRed {
    0% {
        box-shadow: 0 0 5px 2px rgb(255, 0, 0); 
    }
    50% {
        box-shadow: 0 0 10px 5px rgb(255, 0, 0); 
    }
    100% {
        box-shadow: 0 0 5px 2px rgb(255, 0, 0); 
    }
}

.glow-red {
    animation: glowRed 1s infinite;
}

.attack-popup {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.attack-popup button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.health-text {
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Background for readability */
}